/* Write your CSS code here */
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
}
.nav-icon-container {
  display: flex;
  align-items: center;
}
.nav-icon {
  width: 80px;
  height: 80px;
}
.nav-icon-name {
  font-family: Roboto;
  font-size: 30px;
  font-weight: 600;
  color: #12022f;
  padding: 0 10px;
}
.nav-item-container {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
}
.nav-item {
  padding: 0 20px;
}
.link {
  text-decoration: none;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 600;
  color: #12022f;
}

@media screen and (max-width: 768px) {
  .link {
    font-size: 22px;
  }
  .nav-icon-name {
    font-size: 22px;
  }
  .nav-icon{
    height: 50px;
    width: 50px;
  }
}

@media screen and (max-width: 575px) {
  .nav-container {
    padding: 5px;
  }
  .link {
    font-size: 15px;
  }
  .nav-icon-name {
    font-size: 15px;
    padding: 0 5px;
    padding-top: 1px;
  }

  .nav-icon {
    height: 30px;
    width: 30px;
  }

  .nav-item {
    padding: 0 5px;
  }
}
